fastapi[all]
Django
djangorestframework
djangorestframework-simplejwt
requests
django_filter
django-cors-headers
pyaudio
speechrecognition
python-dotenv
django-extensions
SQLAlchemy
python-dotenv
gunicorn
Pillow # for image upload
dj-rest-auth 
social-auth-app-django 
django-allauth
python-dateutil